
<footer class="main-footer">
    <div class="d-flex align-items-center">
        <span class="footer-link-header">Useful Links &nbsp; - &nbsp;</span>
        <div class="footer-links">
            <a href="https://www.instagram.com/sulthan_gulf_kitchen?igsh=MTdmM3dkZDdzemVnaA==" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.facebook.com/share/1DHmRh9VeN/?mibextid=wwXIfr" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://wa.me/07417420109" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
    </div>
    <div class="addBlock">
        <span><i class="fa-solid fa-location-dot"></i> Rear of 36 Queensbury Station Parade, Edgware, HA8 5NN</span>
    </div>
</footer>