<main class="foodMenu commonContentHeight p-3 me-sm-3 mr-md-0 p-lg-5">
    <div>
        <span class="menu-header">Biriyani</span>
        <div class="row menuList px-0 mx-0">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pe-0 pw-1 pb-3" *ngFor="let item of BiriyaniMenuList">
                <div class="MenuWrapper">
                    <div class="item-wrapper">
                        <img class="item-image" [src]="item.url" alt="item-image">
                    </div>
                    <div class="item-name px-2 py-4">
                        <span class="d-block mb-2">{{ item.name }}</span>
                    </div>
                    <div class="price-banner">
                        <span>&#163; {{ item.price }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <span class="menu-header">Mandi</span>
        <div class="row menuList px-0 mx-0">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pe-0 pw-1 pb-3" *ngFor="let item of MandiMenuList">
                <div class="MenuWrapper">
                    <div class="item-wrapper">
                        <img class="item-image" [src]="item.url" alt="item-image">
                    </div>
                    <div class="item-name px-2 py-4">
                        <span class="d-block mb-2">{{ item.name }}</span>
                    </div>
                    <div class="price-banner">
                        <span>&#163; {{ item.price }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <span class="menu-header">Large Size</span>
        <div class="row menuList px-0 mx-0">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pe-0 pw-1 pb-3" *ngFor="let item of LargeMenuList">
                <div class="MenuWrapper">
                    <div class="item-wrapper">
                        <img class="item-image" [src]="item.url" alt="item-image">
                    </div>
                    <div class="item-name px-2 py-4">
                        <span class="d-block mb-2">{{ item.name }}</span>
                    </div>
                    <div class="price-banner">
                        <span>&#163; {{ item.price }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <span class="menu-header">Curry</span>
        <div class="row menuList px-0 mx-0">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pe-0 pw-1 pb-3" *ngFor="let item of CurryMenuList">
                <div class="MenuWrapper">
                    <div class="item-wrapper">
                        <img class="item-image" [src]="item.url" alt="item-image">
                    </div>
                    <div class="item-name px-2 py-4">
                        <span class="d-block mb-2">{{ item.name }}</span>
                    </div>
                    <div class="price-banner">
                        <span>&#163; {{ item.price }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <span class="menu-header">Addons</span>
        <div class="row menuList px-0 mx-0">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pe-0 pw-1 pb-3" *ngFor="let item of AddonsMenuList">
                <div class="MenuWrapper">
                    <div class="item-wrapper">
                        <img class="item-image" [src]="item.url" alt="item-image">
                    </div>
                    <div class="item-name px-2 py-4">
                        <span class="d-block mb-2">{{ item.name }}</span>
                    </div>
                    <div class="price-banner">
                        <span>&#163; {{ item.price }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>