.landingPage {
    margin-top: 70px;

    .bannerWrapper {
        background-image: url('../../assets/Images/banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        position: relative;

        .bannerContent {
            color: #fff;
            font-weight: 700;
            font-size: 2rem;
            z-index: 2;
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(-20%, -50%);

            .mainText {
                font-size: 3rem;
                display: block;
            }
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: #000000c4;
            z-index: 1;
        }
    }
}