/* You can add global styles to this file, and also import other style files */
:root {
    --banner-url: url('https://github.com/Kiran2699/clients-assets/blob/main/sulthan-gulf-kitchen/Images/banner.jpg?raw=true');
    font-size: 13px;

    @media (max-width: 600px) {
        font-size: 12px;
    }
}

body {
    color: #2b2b2b;
    font-size: 13px;
    margin-top: 70px!important;
    height: calc(100% - 70px)!important;
}

.btnPrimary {
    background-color: #dc981b;
    color: #fff;
}

th {
    text-align: center;
}

.backdrop {
    position: fixed;
    inset: 0;
    background-color: #000000c4;
    z-index: 1;
    display: none;

    &.open {
        display: block;
    }
}

.reversBodyMargin {
   margin-top: -70px;
   min-height: calc(100vh - 70px);
}

.commonContentHeight {
    min-height: calc(100vh - 144px);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }